section{
    display: flex;
    flex-direction: column;
}
img{
    width: 100%;
    height: 470px;
}
p{
    text-align: center;
    margin-top:40px ;
    color: var(--cor-destaques);
    font-size: 50px;
    font-weight: bold;
   ;
}