section{
    display: flex;
    flex-direction: column;
    gap:30px;

}
#imgHorizontal{
    width: 100%;
    height: auto;
    border-bottom: 7px solid var(--cor-principal)
}
#imgVertical{display: none}
h2{
    text-align: center;
    color: var(--cor-destaques);
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;

}
h3{
    margin-left: 25px;
    font-size: 27px;
    margin-top: 7px;

    color: var(--cor-principal);
}
p{
    margin-left: 30px;
    font-size: 20px;
    margin-top: 10px;
    font-family: Georgia, serif;
}
#destaque{
    color: var(--cor-auxiliar);
}


@media(min-width:768px){
    h2{
        margin-top: 10px;
        font-size: 60px;
    }
    h3{
        font-size: 34px;
    }
    p{
        font-size: 22px;
    }
   #imgHorizontal{
       height: 100%;
   }
}

@media(min-width:1024px){
    section{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        gap: 4px;
        margin-right: 30px;
        margin-left: 20px;
    }
    h2{

        font-size: 50px;
        margin-top: 20px;
    }
    h3{
        font-size: 26px;
    }
    p{
        font-size: 20px;
        margin-right: 10px;
    }
    #imgHorizontal{
        display: none;
    }
    #imgVertical{
        display: block;
        margin-top: 30px;
        border-right: 10px solid var(--cor-principal);
        height: 1100px;
        margin-left: 15px;
    }

}