section{
    display: flex;
    flex-direction: column;
    gap:30px
}
#imgHorizontal{
    width: 100%;
    height: auto;
}
#imgVertical{display: none}
h2{
    text-align: center;
    color: var(--cor-destaques);
    font-size: 70px;
    font-weight: bold;
   ;
}
h3{
    margin-left: 40px;
    font-size: 40px;
    color: var(--cor-principal)
}
p{
    margin-left: 30px;
    font-size: 30px;
}


@media(min-width:576px){
   #imgHorizontal{
       height: 100%;
   }
}

@media(min-width:1024px){}