section{
    display: flex;
    flex-direction: column;
    gap:30px
}
img{
    width: 100%;
    height: 470px;
}
h2{
    text-align: center;
    margin-top:40px ;
    color: var(--cor-destaques);
    font-size: 70px;
    font-weight: bold;
   ;
}
h3{
    margin-left: 40px;
    font-size: 40px;
    color: var(--cor-principal)
}
p{
    margin-left: 30px;
    font-size: 30px;
}