section{
    display: flex;
    flex-direction: column;
    gap:30px
}
#imgHorizontal{
    width: 100%;
    height: auto;
}
#imgVertical{display: none}
h2{
    text-align: center;
    color: var(--cor-destaques);
    font-size: 50px;
    font-weight: bold;

}
h3{
    margin-left: 40px;
    font-size: 30px;
    margin-top: 7px;
    color: var(--cor-principal)
}
p{
    margin-left: 30px;
    font-size: 20px;
    margin-top: 10px;
}


@media(min-width:768px){
    h2{
        font-size: 60px;
    }
    h3{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
   #imgHorizontal{
       height: 100%;
   }
}

@media(min-width:1025px){
    section{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }
    h2{
        font-size: 50px;
    }
    #imgHorizontal{
        display: none;
    }
    #imgVertical{
        display: block;
        width: 1000px;
        height: 600px;
        margin-left: 10px;
    }

}