.evento {
    display: flex;
    gap: 20px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-left: 5px solid var(--cor-principal);
}

.agenda h2{
    margin-top: 50px;
    border-top: 5px solid var(--cor-destaques);
    padding-top: 50px;
}

.eventoDataBox {
    background: var(--cor-principal);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 80px;
}

.dia {
    display: block;
    font-size: 32px;
    font-weight: bold;
}

.mes {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}