.eventosContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.evento {
    display: flex;
    gap: 20px;
    background : #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-left: 5px solid var(--cor-principal);
    margin-left: 10px;


}

.agenda h2{
    margin-top: 50px;
    border-top: 5px solid var(--cor-destaques);
    padding-top: 50px;
}

.eventoDataBox {
    background: var(--cor-principal);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 80px;




}


.dia {
    display: block;
    font-size: 32px;
    font-weight: bold;
}

.mes {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
}

.eventoP {
    display: flex;
    gap: 20px;
    background : #e3b811;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-left: 5px solid var(--cor-auxiliar);
    margin-left: 10px;


}

.eventoDataBoxP {
    background: var(--cor-auxiliar);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
    min-width: 80px;

}
.eventoP h3{
    color: var(--cor-auxiliar);

}

@media (min-width: 1024px){
    .agenda{
        display: flex;
        flex-direction: column;
    }
    .eventosContainer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .eventoP:last-child {
        grid-column: 1 / 3;  /* ocupa as 2 colunas */
    }


}