.footer {
    margin-top: 40px;
    background-color: var(--cor-principal);
    color: white;
    padding: 40px 20px 20px;
}

.footerPrincipal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.iconesRedes {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 40px;
}

.iconesRedes a {
    color: white;
    transition: color 0.3s;
}

.iconesRedes a:hover {
    color: var(--cor-destaques);
}


.footerCreditos {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 3px solid rgba(255,255,255,0.2);
    text-align: center;
    font-size: 14px;

}

.footerCreditos img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.creditosLinks {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    font-size: 20px;
}


@media (min-width: 576px) {
    .footerPrincipal {
        flex-direction: row;
        justify-content: space-around;
    }
}