.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    height: 150px;
    border-bottom: 10px solid var(--cor-auxiliar);
}

.titulo{
    color: var(--cor-branco);
    margin-left: 15px;
    font-size:30px;
}
a{
    color: var(--cor-destaques);
    font-size: 25px;
    margin-right: 15px;
    text-decoration: none;
    background-color: rgba(76, 76, 89, 0.27);
    border-radius: 10px;
    padding: 2px;
}

@media (min-width: 576px){
    .titulo{
        font-size: 50px;
        margin-left: 50px;
    }
    a{
        font-size: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 768px){
    a{
        font-size: 35px;
    }

}

@media (min-width: 1024px){
    a{
        font-size: 40px;
    }
}