.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    height: 150px;
    border-bottom: 10px solid var(--cor-auxiliar);
    width: 100%;
}

.titulo{
    color: var(--cor-branco);
    margin-left: 30px;
    font-size:30px;
}
.menuToggle{
    display: block;
    background: none;
    border: none;
    color: var(--cor-branco);
    font-size: 50px;
    cursor: pointer;
    margin-right: 15px;
    z-index: 1000;
}
.nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: 0;
    background-color: var(--cor-principal);
    width: 100%;
    padding: 20px 0;
}
.nav-aberto{
    display: flex;
}
nav a{
    color: var(--cor-destaques);
    font-size: 25px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid white;



}
.nav a:hover{
    color: white;
}


@media (min-width: 576px){

    .menuToggle{
        display: none;
    }
    .nav{
        display: flex !important;
        flex-direction: row;
        position: static;
        width: auto;
        padding: 0;


    }
    .nav a{
        margin-right: 10px;
        font-size: 20px;

    }
    .titulo{
        font-size: 30px;
        margin-left: 20px;
    }

}


@media (min-width: 768px) {
    .titulo{
        font-size: 35px;
    }
    .nav a{
        font-size: 30px;
    }
}

@media (min-width: 1024px){
    .titulo{
        margin-left: 40px;
        font-size: 50px;
    }
    .nav a{
        font-size: 40px;
        margin-right: 18px;
    }

}