.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    height: 150px;
    border-bottom: 10px solid var(--cor-auxiliar);
}

.titulo{
    color: var(--cor-branco);
    margin-left: 50px;
    font-size:50px;
}
a{
    color: var(--cor-destaques);
    font-size: 29px;
    margin-right: 20px;
    text-decoration: none;
    background-color: rgba(76, 76, 89, 0.27);
    border-radius: 10px;
    padding: 3px;
}