.propostas{
    display: flex;
    flex-direction: column;

}

#propostas{
    margin-top: 70px;
    border-top: 5px solid var(--cor-destaques);
    color: var(--cor-destaques);
    padding: 30px;

}
#tituloProposta{
    color: var(--cor-auxiliar);

}
.cardContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.cardProposta{
    border: 3px solid var(--cor-auxiliar);
    border-radius: 10px;
    margin: 15px 15px;
    height: 470px;

    }
.cardProposta img{
    width: 100%;
    height: 220px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.cardProposta h3{
    margin-top: 10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.cardProposta p {
    margin-top: 20px;
    margin-left: 15px;
    font-family: Georgia, serif;
    padding: 10px;

}

@media (min-width: 576px) {
    .cardContainer{
        grid-template-columns: 1fr 1fr;
    }
    .cardProposta{
        height: auto;
        padding-bottom: 50px;
    }
    .cardProposta img{
        width: 100%;
        height: 200px;
    }

}
@media (min-width: 1025px) {
    .cardContainer{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        padding: 10px;
    }
    .cardProposta img{
        width: 100%;
        height: 300px;
    }
}