*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html,body{
    height: 100%;
    overflow-x: hidden;

}

:root {
    --cor-principal: #2E7D32;
    --cor-destaques: #edce03;
    --cor-auxiliar: #1E88E5;
    --cor-branco: #FFFFFF;
}



